{% extends 'base.html.twig' %}

{% block title %}Association Lamp - accueil{% endblock %}

{% block body %}
<div class="container-fluid"> 
    {# <video autoplay muted loop class="vid">
            <source src="images/production.mp4" type="video/mp4">
        </video>    #}
    <section>
            <div class="row home">
                <div class="col-lg-6 my-4 nous">
                    <a href="{{ path('app_qui_sommes')}}"><h2 class="lien-titre">qui sommes nous?</h2>
                    <p class="lien-present">L'association Lamp Paris est au service de plus défavorises... </p></a>
                </div>
                <div class=" col-lg-6 my-4 mission ">
                    <a href="{{ path('app_mission')}}"><h2 class="lien-titre" id="mission-titre">Notre mission</h2></a>
                    <a href="{{ path('app_mission')}}" class="mission-home">
                    <p class="lien-present" id="mission-text">
                    L'association est au service de la population et l'intégration social notamment des immigrés.
                    Savoir plus...
                    </p></a>
                </div>
                <div class="col-lg-6 my-4 soutient">
                    <a href="{{ path('app_agir')}}" class="lien-titre">
                    <h2 id="agir-titre">Agir avec nous pour le développement humain</h2>
                    </a>
                </div>
                <div class="col-lg-6 my-4 actu">
                    <img src="#" alt="">
                    <a href="{{ path('app_article')}}"> <h2 class="lien-titre " >Actualités</h2></a> 
                    {% for article in article %}
                    <h3>{{ article.title}}</h3>
                    <p>{{ article.description}}
                    {% endfor %}
                    <a href="{{ path('app_article')}}">Savoir plus...</a>
                    </p>    
                </div>
            </div>{# .row #}
            
    </section>
    <section>
        <div class="row mt-5">
            <h2 id="event-titre">Evenements</h2>
                {% for event in event %}
                <div class="col-md-6 col-lg-4 event">
                    <h3>{{ event.title}}</h3> 
                    <img src="{{ asset('images/events/' ~ event.imageName)}}" alt="{{ event.title}}" class="img-fluid">
                    <div class="date ">
                            <div class="dateRight">
                                <div id="number">{{event.day}}</div>
                                <div id="dateText">
                                <div id="mois">{{event.month}}</div>    
                                <div id="anee">{{event.year}}</div>
                            </div>
                    </div>
                </div> 
                    <a href="{{ path('app_event_detail', {'slug': event.id} )}}">
                        <span class="btn btn-dark mb-5 d-grid gap-2 col-4 mx-auto ">Savoir plus</span>
                    </a>  
        </div>
                {% endfor %}
                <div class="d-grid gap-2 d-md-block mx-auto">
                    <a href="{{ path('app_events')}}" class="btn btn-secondary my-3">Voir tous les evenements</a>
                </div>
        </div>
    </section>
    <div class="soutient-2">
        <img src="#" alt="" height=""> 
        <h2 id="agir-titre">Nous soutenir</h2>
        <a href="https://www.helloasso.com/associations/association-lamp-pour-le-developpement-du-senegal/formulaires/1" target="_blank" class="don-li"><span class="don">Faire un don</span></a>
    </div>
    <div class="contact">
        <div class="content-contact">
            <h2>Nous contacter</h2>
            <p>21 Avenue de l'Italie<br>
                    75012 Paris<br>
                    France
            </p>
                <h3>Connectez vous avec nous</h3>
            <div class="reseau-s">
                <a href="https://www.facebook.com/search/top?q=association%20lamp" target="_blank"> <div class="reseau"><img src="images/facebook.png" alt="" height="40px"></div></a>
                <div class="reseau"><img src="images/instagram.png" alt="" height="40px"></div>
                <div class="reseau"><img src="images/twitter.png" alt=""  height="40px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
