{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}
<div class="container-fluid my-5">
<h4>Nos mission</h4>

    <div class="row">
    {% for mission in mission %}
    <div class="card-mission col-md-3">
    <h4>{{mission.title}}</h4>
    <img src="{{ asset('images/missions/' ~ mission.imageName)}}" alt="{{mission.title}}">
    <a href="{{ path('app_mission_detail', { 'slug': mission.id} )}}" class="detail-miss"><b >Voir detail</b></a>
        </div>

{% endfor %}
</div>
</div>

<a href="{{ path('app_home')}}"><img src="{{ asset('images/back.png')}}" alt="retour à la page d'accueil" class=" arrow-return img-fluid my-4" height="30px"></a>

{% endblock %}
