{% extends 'base.html.twig' %}

{% block title %}Association Lamp - Nos missions{% endblock %}

{% block body %}
<div class="container-fluid ">
<div class="header-custom hc-mission">
</div>
<h2 class="titre-prin-pag">Nos différentes mission</h2>

<p class="para-present">L'association Lamp est au service de la population notamment les inmigrés. Elle les assiste et les oriente dans ces domaines d'interventions. <br>
<br>
L'équipe composée d'avocats de renomée accompagnent les membre dans toutes leurs démarches juridiques. <strong>Une permanance juridique est ouvert le mercredi et le samedi de 14h à 17h.</strong>


</p>
    <div class="row d-flex justify-content-center">
    {% for mission in mission %}
    <div class="card-mission col-md-4">
    <h4 class="accordion-title">{{mission.title}}
</h4>
    <img src="{{ asset('images/missions/' ~ mission.imageName)}}" alt="{{mission.title}}" class="img-fluid d-block mx-auto">
    <div class="accordion-content">
    <div>{{mission.description}}</div>
    </div>
    <a href="{{ path('app_mission_detail', { 'slug': mission.id} )}}" class="detail-miss btn btn-sm btn-dark my-3 d-block mx-auto">Voir detail</a>
        </div>

{% endfor %}
</div>
</div>

<a href="{{ path('app_mission')}}"><img src="{{ asset('images/back.png')}}" alt="retour à la page d'accueil" class=" arrow-return img-fluid d-block mx-auto" height="30px"></a>

{% endblock %}
