{% extends 'base.html.twig' %}
{% block title %}Association Lamp - Nos missions{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="header-custom hc-mission">
</div>
<h2 class="titre-prin-pag">Nos missions</h2>

{% for mission in mission %}
<div class="row my-5"><div class="col-md-5">
<img src="{{ asset('images/mission/' ~ mission.imageName )}}" alt="{{ mission.title}}" class="img-fluid mx-auto d-block my-3 image-mission">
</div>
<div class="col-md-7 align-self-center">
<h3 class="mb-2 text-center">{{ mission.title}}</h3>
<a href="{{ path('app_article_detail', { 'slug': mission.id} )}}" class="art-text"><p class="para-present">{{ mission.description}}</p></a>
</div>

</div>


{% endfor %}
</div>
</div>
{% endblock %}

