{% extends 'base.html.twig' %}

{% block title %}Association Lamp - Nous contacter{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="header-custom hc-contact">
</div>
<h2 class="titre-prin-pag">Contactez nous</h2>

<div class="col-md-6 mx-auto my-5">
{{ form_start(form)}}
{{ form_widget(form)}}
<button type="submit" class="btn bnt-sm btn-success my-4"> Envoyer</button>
{{ form_end(form)}}
</div>
<p class="para-present">Vous pouvez nous contacter aussi directement:</p> 
    <div class="block-contact">
    <b> <i class="fa-solid fa-phone"></i> Par téléphone au +33 7 98 57 68 24</b> <br>
    <b><i class="fa-solid fa-envelope"></i> Par courrier postal à l'adresse: Association Lamp Paris 19, Avenue de l'Italie - 75013 Paris</b> <br>
    <b><i class="fa-solid fa-at"></i> Adresse Mail: lampdevs@gmail.com</b>
    </div>
</div>
<a href="{{ path('app_home')}}"><img src="{{ asset('images/back.png')}}" alt="retour à la page d'accueil" class=" arrow-return img-fluid mx-auto d-block my-4" height="30px"></a>
{% endblock %}
