{% extends 'base.html.twig' %}

{% block title %}Jackpot{% endblock %}

{% block body %}
    <h1>Jackpot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jackpot.id }}</td>
            </tr>
            <tr>
                <th>Amount1</th>
                <td>{{ jackpot.amount1 }}</td>
            </tr>
            <tr>
                <th>Amount2</th>
                <td>{{ jackpot.amount2 }}</td>
            </tr>
            <tr>
                <th>Amount3</th>
                <td>{{ jackpot.amount3 }}</td>
            </tr>
            <tr>
                <th>Amount4</th>
                <td>{{ jackpot.amount4 }}</td>
            </tr>
            <tr>
                <th>AmountFree</th>
                <td>{{ jackpot.amountFree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_jackpot_index') }}">back to list</a>

    <a href="{{ path('app_admin_jackpot_edit', {'id': jackpot.id}) }}">edit</a>

    {{ include('admin_jackpot/_delete_form.html.twig') }}
{% endblock %}
