<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="description"content="l'Association lamp assiste et oriente à la population dans ce domaines d'interventions notamment les immigrés">
        <title>{% block title %}Association Lamp{% endblock %}</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/logo-ass.png')}}">
            <link rel="stylesheet" href="{{ asset('css/admin.min.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %} {% endblock %}

    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <main>
            <div class="container-fluid"> 
            <header>
                <div class="bloc1-he">
                <div id="log">
                <a href="{{ path('app_home')}}">
                    <img src={{ asset("images/logo-ass.png") }} alt="Logo de l'association" loading="lazy" height="100px">
                    </a>
                </div>
                <div class="ente-t">
                    <h1>Association lamp</h1> 
                </div>   
                <a id="hamburger_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                
            </div>
            <!-- Responsive Menu -->
            <nav id="menu">
                <ul class="b-menu">
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_home')}}">accueil</a></li>
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_qui_sommes')}}">qui sommes nous?</a></li>
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_agir')}}" >agir avec nous</a></li>
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_events')}}"> évenements</a></li>
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_article')}}">actualités</a></li>
                <li class="menu-li"><a class="menu-lien" href="{{ path('app_contact')}}">contact</a></li>
                </ul>
            </nav>
            <div class="bloc2-he">
            
                <a href="https://www.helloasso.com/associations/association-lamp-pour-le-developpement-du-senegal/formulaires/1" target="_blank" class="don-li "><span class="don">
                        Faire un don</span></a> 
                        
                </div> 
            </header>
            
        {% block body %}{% endblock %}
            </div>
     
            <footer>
                <div class="footer-custom row">
                <div class="col-md-3 mt-3 text-center">
                <a href="{{ path('app_home')}}">
                <img src={{ asset("images/logo-ass.png") }} alt="Logo de l'association" height="100px" class="mb-3">
                </a>
                <strong><p>Association Lamp Paris <br>
                19 Avenue de l'Italie 75013 Paris<br></p></strong>
                </p><br> 
                    <p class="">Lamp Paris est une association de loi 1901 (SIRET n°000 000 000 00000 et RNA n°W00000000). Chaque don ouvre droit à une réduction d’impôts égale à 66% du montant du don, dans la limite de 20% de votre revenu imposable.
                    </p><br>
                </div>
            <div class="liens col-md-4 mt-5 text-center">
                <h6 class="">Liens utiles</h6>
            <ul class="list-foo ">
        <li class="foo-li"><a class="lie-li" href="'https://www.ameli.fr/" target="_blank">- Assurance maladie</a></li>
        <li class="foo-li" ><a class="lie-li" href="https://www.caf.fr/" target="_blank">- Caf</a></li>
        <li class="foo-li"><a class="lie-li" href="'https://www.impots.gouv.fr/accueil" target="_blank">- Finances publiques</a></li>
        <li class="foo-li"><a class="lie-li" href="https://www.pole-emploi.fr/accueil/" target="_blank">- Pôle emploi</a></li>
        <li class="foo-li"><a class="lie-li" href="https://www.diplomatie.gouv.fr/fr/le-ministere-et-son-reseau/representations-etrangeres-en-france/" target="_blank">- Représentations étrangères</a></li>
        </ul>
        <img src="{{asset('images/logo-1901.jpg')}}" alt="Association à but non lucratif" class="logo-1901 img-fluid mx-auto d-block">
        
    </div>
    <div class="col-md-4 text-center mt-5">
            <ul class="list-foo">
            <li class="foo-li"><a class="lie-li" href="{{ path('app_article')}}">- Actualités</a></li>
            <li class="foo-li"><a class="lie-li" href="{{ path('app_events')}}">- Evenements</a></li>
            <li class="foo-li"><a class="lie-li" href="{{ path('app_contact')}}">- Contact</a></li>
            <li class="foo-li"><a class="lie-li" href="{{ path('app_c_g_u')}}">- CGU (Conditions Générales d'Utilisation)</a></li>
            </ul>
            <div class="reseau-foot">
            <a href="https://www.facebook.com/search/top?q=association%20lamp" target="_blank"> <div class="reseau"><img src="images/facebook.png" alt="" height="40px"></div></a>
            <div class="reseau"><img src="images/instagram.png" alt="" height="40px"></div>
            <div class="reseau"><img src="images/twitter.png" alt=""  height="40px"></div>
        </div>
        </div>
        
    <p class="t-foo text-center"><img src="{{asset('images/droits-dauteur.png')}}" alt="" height="12px"> 2022 <strong>Association Lamp</strong>. Tout les droits réservés</p> 
</div>  {# .footer-custom .row #}
</footer>

</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="{{ asset('js/menu.js')}}"></script>
<script src="{{ asset('js/slide.js')}}"></script>
<script src="{{ asset('js/accordion.js')}}"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>
