{% extends 'base.html.twig' %}

{% block title %}Association Lamp - actualités{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="header-custom hc-actu">
</div>
<h2 class="titre-prin-pag">Dernières actualités</h2>

{% for article in article %}
<div class="row my-5"><div class="col-md-5">
<img src="{{ asset('images/articles/' ~ article.imageName )}}" alt="{{ article.title}}" class="img-fluid mx-auto d-block my-3">
</div>
<div class="col-md-7 align-self-center">
<h3 class="mb-2 text-center">{{ article.title}}</h3>
<a href="{{ path('app_article_detail', { 'slug': article.id} )}}" class="art-text"><p class="para-present">{{ article.description}}</p></a>
<span> publiée par: {{article.publishedBy}}</span>
</div>

</div>


{% endfor %}
</div>
</div>
{% endblock %}
